$emerald-green: #00a19c;
$dark-20: #00817d;
$dark-green: #395542;
$red: #f50057;
$gold: #efaa23;
$purple: #58478d;
$dark-purple: #432c5f;
$violet: #615e9b;
$light-blue: #93bfeb;
$lime: #cbd34c;
$deep-gray: #3d3935;
$light-grey: #cccccc;
$white-smoke: #f2f2f2;
$solid-white: #ffffff;
$brown: rgb(158, 138, 99);
$pink: rgb(255, 102, 204);
$green: #32d85d;

$main-color: #292e49;

$color-nav-bg: #3d3c38;

$color-side-bar: linear-gradient(to bottom, rgb(13, 151, 156), rgba(97, 94, 155, 1));
$color-gradient-purple-to-green: linear-gradient(to right, rgba(97, 94, 155, 1), rgb(13, 151, 156));
$color-gradient-green-to-purple: linear-gradient(to right, $emerald-green, $purple);
$color-black-opacity: rgba(0, 0, 0, 0.5);

$top-bar-gradient: linear-gradient(to right, #38435a, #292e49);
$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
